**/__pycache__/
logs/
res/
wandb/
loss_logs/*
*.txt
np_cache_analysis/*
dataset_usage/*
figs/*
hf_outputs/*
log_backups/*
multi_np_cache_analysis/*
np_cache_analysis*/
outputs_double/*
outputs_single/*
res/*
usage_hist/*
usage_hist_testing/*
wandb/*

np_cache_analysis*
*.png
.npy
upsampled_trajectories/*
loss_curves/*
datasets/*
tmp/*
