**/__pycache__/
logs/
res/
wandb/
loss_logs/*
*.txt
np_cache_analysis/*
configs/*
dataset_usage/*
figs/*
hf_outputs/*
log_backups/*
multi_np_cache_analysis/*
np_cache_analysis*/
outputs_double/*
outputs_single/*
res/*
schedules/*
usage_hist/*
usage_hist_testing/*
wandb/*
